.parent {
    border: black 2px solid;
    width: 500px;
    height: 400px;
}

.a, .b {
    height: 200px;
    width: 250px;
}

.a{
    background-color: tomato;
}

.b {
    background-color: navy;
}

.c {
    height: 100px;
    width: 500px;
    background-color: red;
}